@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    padding: 0 35px;
}
nav ul{
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    padding: 10px 40px;
}
nav ul li a{
    color: burlywood;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(0, 204, 255);
    font-size: larger;
}
.container{
    min-height: calc(100vh - 75px - 10vh);
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: lightpink;
    max-width: 90vw;
    margin: 20px ;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card h2{
    margin: 12px 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 5vh;
}
.card-items{
    width: auto ;
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
   justify-content: center;
   align-items: center;
   
}
